body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  flex-flow: row;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  margin-top: 100px;
  text-align: center;
}
.container {
  margin-top: 120px;
  margin-left: 10%;
  width: 25%;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding:0;
}

button {
  background-color: pink;
  margin-top: 10px;
}

a {
  display: block;
  font-size: 150%;
  text-align: center;
  padding: 50px;
  color: black;
  text-decoration: none;
}

a:hover, .active {
  background-color: #1C3D50;
  color: white;
  text-decoration: none;
}

.uj{
  display: flex;
  flex-flow: row;
  align-items: center;
}

.title {
  padding-left: 2%;
  font-size:230%
}

input {
  outline: none;
}
